.navbar{
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: center;
    padding: 1em;
    position: fixed;
}

.navbarUl{
    padding: 0 1em;
    display: inline-flex;
    gap: 1.5em;
}

.navbarLi{
    list-style: none;
    cursor: pointer;
}

.navbarLinks{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

@media screen and (min-width:1024px) {
    .navbar{
        justify-content: end;
    }
}